.faded *{
	margin: 0;
	padding: 0;
}

.faded .view{
	position:relative;
	/*box-shadow: inset 0 0 10px rgba(0,0,0,0.2);*/
	background:#000;
	overflow:hidden;
}

.faded .movable,
.faded .pickup{
	position : absolute;
}

.faded .frame{
	display  : block;
	background:#000;
}

.faded .healthbar{
	position :relative;
	width : 1rem;
	height : 100%;
	background : none;
}

.faded .healthbar .health{
	position : absolute;
	bottom : 0;
	width : 100%;
	background : yellow;
}

.faded .character{
	display  : inline-block;
}

.faded .grid table{
	border-collapse:collapse;
	width:100%;
	height:100%;
}

.faded .grid td{
	background:#000;
}

.faded .grid td.walkable{
	background:#444;
}

.faded .player{
	width : 10px;
	height : 10px;
	background:#0F0;
}

.faded .zombie{
	width : 10px;
	height : 10px;
	background:#800;
}

.faded .noble{
	width : 10px;
	height : 10px;
	background:#0A8;
}

.faded .ghost{
	width : 10px;
	height : 10px;
	background:#008;
	border:20px solid rgba(0, 0, 230, 0.1);
	border-radius:50%;
	-webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}

.faded .candle{
	width : 10px;
	height : 10px;
	background:yellow;
}

.faded .message-box{
	position:absolute;
	width:calc(80% - 2rem);
	height:calc(80% - 2rem);
	margin: 10%;
	padding: 1rem;
	z-index:2;
	background:#888;
	
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.faded .message-box *{
	color:#212121;
	text-align:left;
}

.faded .message-box h1{
	font-size:1.4rem;
}

.faded .message-box button{
	position:absolute;
	bottom:1rem;
	right:1rem;
	background:transparent;
	text-align:right;
}